html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0px;
}

header {
    padding: 8px;
    padding-bottom: 0px;
    top: 0;
}

header p {
    margin: 0px;
}

main {
    padding: 0px 8px;
    display: inherit;
    width: max-content;
}

main h4 {
    font-weight: normal;
    margin: 0px;
    display: inline-block;
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 4px;
}

main p {
    display: inline-block;
    margin-left: 8px;
    margin-top: 4px;
}

main hr {
    display: block;
}

footer {
    padding: 8px;
    position: absolute;
    bottom: 0;
    right: 0px;
    left: 0px;
}

footer p {
    margin: 0px;
}

p {
    margin: 8px 0px;
}

ul {
    margin-top: 8px;
    padding-left: 30px;
}  

a:visited {
    color: blue;
}

img {
    float: left;
    height: 45px;
    margin: 8px;
}

#discordimg {
    float: left;
    height: 60px;
    margin: 0;
}